{% extends "base.html" %}
{% block title %}Program{% endblock %}
{% block content %}
<div class="box">
  {% if production %}
    <h1 class="title">{{ production.title }}</h1>
    <h2 class="subtitle">{{ production.subtitle }}</h2>

    {% if production.cover_image %}
        <figure class="image is-64x64">
            <img src="{{ url_for('static', filename='covers/' ~ production.cover_image) }}">
        </figure>
    {% endif %}
    <p>filler</p> <!--i added this because the image kept covering the location-->
    <p><strong>Location:</strong> {{ production.location or '—' }}</p>
    <p><strong>Admission:</strong> {{ production.price if production.price else '—' }}</p>

    <h3 class="title is-5">Performance Dates</h3>
    <ul>
      {% if production.dates %}
        {% for d in production.dates.split(',') %}
          <li>{{ d.strip() }}</li>
        {% endfor %}
      {% else %}
        <li><em>No dates entered</em></li>
      {% endif %}
    </ul>

    <hr>
    <p>{{ production.notes or '' }}</p>
    <p class="is-size-7">{{ production.copyright or '' }}</p>
  {% else %}
    <p>No production set. Go to Edit → Productions to add one.</p>
  {% endif %}
</div>
{% endblock %}
