@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

/* Difficulty-based color borders */
.easy {
  border: 2px solid green; /* green */
}

.medium {
  border: 2px solid yellow; /* yellow */
}

.hard {
  border: 2px solid red; /* red */
}

/* Correct answer highlight */
.correct_answer {
  background-color: green;
  color: white;
  font-weight: bold;
}
