{% extends "world.jinja" %}

{% block searchform %}

<form class="field is-grouped" action="{{ url_for('main.subregion') }}" method="get">
    <div class="control">
        <div class="select">
            <select name="name" required>
                <option value="">Select a subregion</option>
                {% for subregion in search_subregions %}
                    <option value="{{ subregion }}" {% if subregion == selected_subregion %}selected{% endif %}>
                        {{ subregion }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="control">
        <button type="submit" class="button is-info">Go</button>
    </div>
</form>


{% endblock searchform %}