{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<section class="section">
  <div class="container has-text-centered">
    <h2 class="title">Welcome</h2>
    <p class="subtitle">Choose an area to view or edit the program.</p>

    <div class="buttons is-centered">
      <a class="button is-link is-medium" href="{{ url_for('view.program') }}">Audience View</a>
      <a class="button is-primary is-medium" href="{{ url_for('edit.production') }}">Director / Edit</a>
    </div>
  </div>
</section>
{% endblock %}
